__pycache__/
chapter_15/d6.html
chapter_15/d6_d6.html
chapter_15/d6_d10.html
chapter_15/d6_d6_d6.html
chapter_15/d8_d8.html
chapter_16/global_earthquakes.html
chapter_16/data/readable_eq_data.json
chapter_16/world_fires.html
